In [ ]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np


from pandas_profiling import ProfileReport

import time
!pip install apyori
from apyori import apriori as apriori1
!pip install mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori as apriori2
from mlxtend.frequent_patterns import association_rules
# from mlxtend.frequent_patterns import fpgrowth

from wordcloud import WordCloud
import matplotlib.pyplot as plt
from PIL import Image

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.18.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.1.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (50.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.17.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
url1 = 'https://raw.githubusercontent.com/ikanurlaily/market-basket2/main/association_order.csv'
association_order = pd.read_csv(url1, error_bad_lines=False)
association_order.head(3)

          orderid      itemid
0  31379820545759   719740607
1  31378575577269  1825360194
2  31369591568249  1108903291

In [ ]:
url2 = 'https://raw.githubusercontent.com/ikanurlaily/market-basket2/main/rules.csv'
rules = pd.read_csv(url2, error_bad_lines=False)
rules.head(3)

                    rule
0     100242812>80361758
1     100242812>89031406
2  1003153762>1016449477

In [ ]:
grouped_df = association_order.groupby("orderid")
order_gr = grouped_df["itemid"].apply(list)
order_gr = order_gr.reset_index()
order_gr = DataFrame(order_gr)
order_gr.head(3)
#order_gr.to_csv('ordergroup.csv')

          orderid                                             itemid
0  31338000509845  [2662778119, 2255381856, 1825056968, 575945551...
1  31338001158725               [6112866826, 5013004529, 5712867361]
2  31338002167561  [5712106216, 3310344299, 6303964568, 331073883...

In [ ]:
order_gr['itemid'] = order_gr['itemid'].astype(str).str.replace(r"[", '')
order_gr['itemid'] = order_gr['itemid'].astype(str).str.replace(r"]", '')
order_gr['itemid'] = order_gr['itemid'].astype(str).str.replace(r" ", '')

In [ ]:
order_gr.head(3)

          orderid                                             itemid
0  31338000509845  2662778119,2255381856,1825056968,575945551,144...
1  31338001158725                   6112866826,5013004529,5712867361
2  31338002167561  5712106216,3310344299,6303964568,3310738830,38...

In [ ]:
def split_list_like(df: pd.DataFrame, col: str, new_col_prefix: str, pat: str = None):
    df = df.copy()
    split_col = df[col].str.split(pat, expand=True)

    return df.assign(
        **{
            f"{new_col_prefix}_{x}": split_col.iloc[:, x]
            for x in range(split_col.shape[1])
        }
    )
split = order_gr.pipe(
    split_list_like,
    col="itemid",
    new_col_prefix="itemid",
    pat=",",
)

In [ ]:
split.head(3)

          orderid  ... itemid_39
0  31338000509845  ...      None
1  31338001158725  ...      None
2  31338002167561  ...      None

[3 rows x 42 columns]

In [ ]:
split = split.drop(columns=['itemid'])
split = split.drop(columns=['orderid'])
split.head(3)

     itemid_0    itemid_1    itemid_2  ... itemid_37 itemid_38 itemid_39
0  2662778119  2255381856  1825056968  ...      None      None      None
1  6112866826  5013004529  5712867361  ...      None      None      None
2  5712106216  3310344299  6303964568  ...      None      None      None

[3 rows x 40 columns]

In [ ]:
split.fillna(0,inplace=True)

In [ ]:
df = split

In [ ]:
transactions = []
for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,39) if str(df.values[i,j])!='0'])

In [ ]:
transactions[0]

['2662778119',
 '2255381856',
 '1825056968',
 '575945551',
 '1444935832',
 '1688963479',
 '391098483',
 '6807602156',
 '382577821']

In [ ]:
rules = apriori(transactions)

In [ ]:
Results = list(rules)
Results

[]

In [ ]:
df_results = pd.DataFrame(Results)

In [ ]:
df_results.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
#ref : https://www.kaggle.com/whs2018/marker-analysis